---
---

@import "{{ site.theme }}";

h1.project-name a, h1.project-name a:hover, h1.project-name a:active, h1.project-name a:visited {
  color: white;
}

details {
  border: #eff0f1 solid 3px;
  padding: 10px;
}

summary {
  cursor: pointer;
}
